
.navbar {
    background: none;
}
.section {
    position: relative;
    padding: 0;
}

/*.header__bg{*/
/*    background: linear-gradient(192.93deg, #FF00FF 16.34%, #000000 69.58%);*/
/*    background-repeat: no-repeat;*/
/*    height: 100vh;*/
/*    width: 100%;*/
/*    position: relative;*/
/*}*/

/*.header__bg::before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background-image: url('../img/nebula_wallpaper.jpg');*/
/*    background-size: cover;*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*    opacity: .67;*/
/*}*/

.block__wrap{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1840px;
    margin: 0 auto;
}


 .block__figure{
    position: absolute;
    margin-left: 153px;
    margin-top: 81px;
 }

 .block__text{
    margin-top: 57px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 201px;
 }

 .block__text p{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    line-height: 29px;
    letter-spacing: .2px;
 }

 .block__subtitle {
    position: relative;
    color: #fff;
    text-align: end;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    max-width: 527px;
    margin-left: auto;
    margin-right: 60px;
    margin-top: 173px;
    letter-spacing: -1.4px;
    line-height: 31px;
}

.block__subtitle span{
    color: #12f8f8;
    font-weight: 600;
    letter-spacing: -0.1px;
}

.bg{
    background: linear-gradient(180deg, #000000 0%, #05051F 95.83%);
    height: 100vh;
}

/* footer last block */

.title__footer{
    font-size: 72px;
}

.buttons{
    position: relative;
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 91%;
}

/* quick start*/

.section_quick{
    background: linear-gradient(180deg, #05051F 0%, #12F8F8 100%), #C4C4C4;
    position: relative;
}

.section_quick::before{
    content: '';
    position: absolute;
    background: url('../www/img/bg.svg');
    width: 100%;
    height: 100%;
    top: 32px;
    left: 41px;
}

.block__text_width p{
    max-width: 561px;
    letter-spacing: -0.1px;
}

.block__content{
    margin: 0 auto;
    width: 96%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 40px;
}

.block__content::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 34.07%, rgba(255, 255, 255, 0.70297) 67.41%, rgba(255, 255, 255, 0) 100%);
}

.block__buttons{
    width: 1811px;
    margin-left: 37px;
    margin-right: 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 99px;
    text-align: center;
    align-items: flex-end;
}

.block__buttons h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    max-width: 288px;
    margin: 0 auto;
}

.btn{
    width: 544px;
    height: 140px;
    background: linear-gradient(180.18deg, rgba(255, 255, 255, 0.6) 0.16%, rgba(16, 217, 219, 0) 99.84%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 33px;
    border: none;
    display: flex;
    outline: none;
    align-items: center;
}

.btn__text{
    font-style: normal;
    font-weight: normal;
    color: #202B39;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.btn__text p{
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 18px;
}

.btn__text h3{
    font-size: 29px;
    line-height: 17px;
}

.btn__img{
    width: 544px;
    border: none;
    background: none;
    margin-top: 35px;
    outline: none;
}

/* quick start*/

@media only screen and (max-width: 1800px){
    .block__buttons{
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1400px) {
    .block__text{
        margin-right: 60px;
    }

    /* footer last block */

    .section_bg::before{
        top: 26px;
        background-size: 100% 100%;
        left: 0;
    }

    /* quick start*/

    .btn{
        width: 500px;
        height: 120px;
    }

    .btn img {
        width: 160px;
    }

    .btn__img img{
        height: 250px;
    }
}

@media only screen and (max-width: 1200px){
    .btn{
        width: 500px;
        height: 80px;
    }

    .btn img {
        width: 111px;
    }

    .btn__img img {
        height: 190px;
    }
}

@media only screen and (max-width: 1025px) {
    .title{
        font-size: 54px;
    }
    .block__text p{
        font-size: 20px;
    }
    .block__text{
        margin-right: 20px;
    }
    .block__subtitle{
        margin-right: 20px;
    }
    .logo img{
        width: 250px;
        margin-top: 16px;
    }
/* footer last block */

    .buttons{
        align-items: normal;
        height: 67%;
        max-width: 385px;
        flex-wrap: wrap;
    }
    
     /* quick start*/

    .block__content {
        bottom: 20px;
    }

}


@media only screen and (max-width: 650px) {
    .block__wrap{
        display: block;
    }

    .block__text {
        margin-top: 0px;
        padding: 0 14px;
        margin-right: 0px;
        margin-left: 0px;
        align-items: center;
    }

    .block__subtitle{
        padding: 0 14px;
    }

    /* footer last block */

    .section_bg::before{
        display: none;
    }

    /* quick start*/

    .block__buttons{
        justify-content: center;
        margin: 0;
        width: 100%;
    }

    .btn {
        width: 382px;
        height: 60px;
    }

    .btn img {
        width: 81px;
    }

    .btn__img img {
        height: 150px;
    }
}

@media only screen and (max-width: 414px){
/* footer last block */
    .buttons{
        padding: 0 10px;
    }

    .buttons img{
        width: 137px;
    }

    /* quick start*/

    .btn {
        width: 302px;
        height: 45px;
    }

    .btn__img img {
        height: 127px;
    }

    .btn__text h3 {
        font-size: 22px;
    }

    .btn img {
        width: 60px;
    }
}